.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}

.custom1 {
    margin-top: 50px;
    height: 2000px;
}
.text-center{
    text-align: center;
}
h1{
    color: #f3801f;
}